@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.wrapper{
    font-family: "Roboto", sans-serif;
    margin: auto;
    min-height: 100vh;
    padding: 5rem 0rem;
}

.home-wrapper{
    width: 80%;
}

.restaurants-wrapper{
    width: 60%;
}

#brand{
    font-family: "Montserrat", sans-serif;
}

.dish-container, .restaurant-container{
    min-height: 200px;
    height: auto;
}

.dish-image{
    max-height: 200px;
    max-width: 50%;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.restaurant-container-clickable{
    cursor: pointer;
    transition: transform 0.5s;
}

.restaurant-container-clickable:hover{
    transform: scale(1.1,1.1);
}

.restaurant-image{
    max-height: 200px;
    object-fit: cover;
    max-width: 35%;
    height: 80%;
}

.shopping-cart-list{
    height: 750px;
}

.navbar-background{
    background-color: rgb(221, 45, 74);
}